.new-courses {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}

.new-courses::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}

.engagement-left {
    margin-left: 10rem;
}

.engagement-right {
    margin-right: 10rem;
}

.new-courses .card {
    flex: 0 0 250px; /* Fixed width for each card */
    margin-right: 10px; /* Margin between cards */
    scroll-snap-align: start; /* Snap each card to the start of the container */
}

@media only screen and (max-width: 768px) {
    .engagement-left {
        margin-left: auto;
    }
    .engagement-right {
        margin-right: auto;
    }
    .engagement-left-title {
        border-bottom: 2px solid ;
    }
    .owl-right {
        width: 15rem;
    }
    .margin-small-top {
        margin-top: 10px;
    }
}

@media (min-width: 576px) {
    .new-courses .card {
        flex: 0 0 calc(50% - 10px); /* Two cards per row with margin */
    }
    .owl-center {
        width: 10rem;
    }
}

@media (min-width: 768px) {
    .new-courses .card {
        flex: 0 0 calc(33.3333% - 10px); /* Three cards per row with margin */
    }
}

@media (min-width: 992px) {
    .new-courses .card {
        flex: 0 0 calc(25% - 10px); /* Four cards per row with margin */
    }
}

/*@media (min-width: 1200px) {
    .new-courses .card {
        flex: 0 0 calc(20% - 10px); !* Five cards per row with margin *!
    }
}*/
